@charset "UTF-8";
:root,
[data-bs-theme=light]  {
    --vultid-primary: rgb(33, 67, 109);
    --vultid-primary-light: rgb(58, 97, 145);
    --vultid-accent: rgb(91, 252, 233);
    --vultid-accent-light: rgb(161, 255, 243);
}
[data-bs-theme=dark]  {
    --vultid-primary: rgb(33, 67, 109);
    --vultid-primary-light: rgb(58, 97, 145);
    --vultid-accent: rgb(91, 252, 233);
    --vultid-accent-light: rgb(161, 255, 243);
}
body{
    background-color: transparent!important;
}
body, html{
    width:100%;
    height:100%;
}
#video-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 322px;
    height: 208px;
    /*margin-bottom: 20px;*/
    border: 2px solid var(--vultid-accent);
    box-shadow: 0 0 10px var(--vultid-accent);
    border-radius: 25px;
    overflow: hidden;
}

#video {
    width: 322px; /* 640px */
    height: 208px;
}

.mirror-mode {
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
}

.normal-mode {
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
}

#overlay-canvas {
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(-1);
}

#status {
    width: fit-content;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #00ff88;
    background: #111;
    border-radius: 20px;
    padding: 5px 15px;
    text-align: center;
}

.switch-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.switch-label {
    margin: 0 10px;
    font-size: 1.1em;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.dui-capture-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.dui-slot {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 2px dashed #232323;
    border-radius: 10px;
    width: 322px;
    height: 208px;
    /*width: 100%;*/
    /*height: 100%;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /*cursor: pointer;*/
    color: var(--vultid-accent);
}

.dui-slot.front {
    background-image: url('../images/dui/DUI_BG_F.png');
    border-color: var(--vultid-accent);
    color: var(--vultid-accent);
}

.dui-slot.reverse {
    background-image: url('../images/dui/DUI_BG_R.png');
    border-color: var(--vultid-primary);
    color: var(--vultid-primary);
}

.dui-slot img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.dui-slot-label {
    font-size: 0.9em;
    margin-top: 5px;
}

.file-input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.file-input-group input[type="file"] {
    display: none;
}

.file-input-group label {
    background-color: var(--vultid-accent);
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.file-name {
    font-size: 0.9em;
    color: #aaa;
    margin-top: 5px;
}

.instructions-card {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 255, 136, 0.5);
    max-width: 400px;
    text-align: center;
    position: absolute;
    display: none;
    margin-bottom: 20px;
}

.instructions-card .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: #fff;
    font-size: 1.2em;
    cursor: pointer;
}

.instructions-card p {
    margin: 0;
    font-size: 1.1em;
    line-height: 1.5;
}

.captured-image-preview {
    max-width: 100%;
    height: auto;
    max-height: 120px;
    object-fit: contain;
    border-radius: 5px;
    /*margin-top: 10px;*/
    /*border: 1px solid #00ff88;*/
}

.btn-dorado {
    --bs-btn-color: #fff;
    --bs-btn-bg: #b38f54;
    --bs-btn-border-color: #b38f54;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #a1814b;
    --bs-btn-hover-border-color: #a6844a;
    --bs-btn-focus-shadow-rgb: 60, 153, 110;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #a6844a;
    --bs-btn-active-border-color: #9e7d46;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #b38f54;
    --bs-btn-disabled-border-color: #b38f54;
}

.bg-dorado {
    --bs-bg-opacity: 1;
    background-color: rgba(179, 143, 84, var(--bs-bg-opacity)) !important;
}
.bg-turquesa {
    --bs-bg-opacity: 1;
    background-color: rgba(0, 104, 117, var(--bs-bg-opacity)) !important;
}

#camera-block-section, #verification-identity-section{
    background-image: url("../images/bg/bgTexture.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: soft-light;
    transition: 0.3s ease-in-out;
}

.form-check-input:checked {
    background-color: var(--vultid-accent) !important;
    border-color: var(--vultid-accent) !important;
}

.swal2-backdrop-show{
    backdrop-filter: blur(8px);
}

#zoom-container {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    height: 150px;
    z-index: 10;
}

#zoom-slider {
    writing-mode: bt-lr; /* Soporte para algunos navegadores */
    -webkit-appearance: slider-vertical; /* Soporte Chrome/Safari */
    width: 12px;
    height: 100%;
    accent-color: #D4AF37; /* Color dorado */
    background: rgba(0,0,0,0.2);
    border-radius: 10px;
}